.item {
  width: 100%;
  padding: 2%;

  .product {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 2%;

    .image {
      width: 70%;
      background-color: #ebebeb;
      height: 500px;
      margin-bottom: 0.5%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .infos {
      width: 30%;
      margin-top: 0.5%;
      color: #333;

      .qtd {
        color: rgba(0, 0, 0, 0.55);
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 2%;
      }

      .price {
        font-size: 56px;
        font-weight: 400;
        margin-bottom: 20%;
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 22px;
        padding: 5%;
        background-color: #2968c8;
        border-radius: 3%;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .description {
    display: flex;
    width: 70%;
    flex-direction: column;

    .text {
      color: #666;
      font-size: 16px;
    }
  }
}

.title {
  color: rgba(0, 0, 0, 0.9);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5%;
}

@media (max-width: 900px) {
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;

    .product {
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .image {
        width: 100%;
      }

      .infos {
        width: 100%;
      }
    }

    .description {
      width: 100%;
      margin-top: 5%;
    }
  }
}
